body, table, tr, td, tbody, #browserWidth {
	background:#26292e;
	color:#F2CA1D !important;
}
span[style="background-color: #f4f4f4; padding: 3px;"], .bb-spoiler{
    background-color: #26292E !important;
}
div[style="margin: 10px 0; background-color: #FFFF88; padding: 20px;"]{
    color: #26292e !important;
    text-decoration:underline !important;
}

a {
	text-decoration:underline !important;
	color:#F2CA1D !important;
}

a:hover{
	color:#ffaa00 !important;
	text-decoration:underline;
}

.page, .tborder, .collapseobj_module_5, #siteWrapper, .alt1Active, .alt1, .contentWrapper, #navbarWrapper, #headerWrapper {
	color: #F2CA1D !important;
	background: #26292e !important;
}
#headerWrapper{
	margin-bottom: 0px !important;
}
legend {
	color: #F1CA1D !important;
	}

.alt2, .panelsurround, .controlbar td, td.controlbar, .vBulletin_editor, div[style="padding:3px"] td, fieldset, fieldset td, fieldset tr, fieldset table, .imagebutton, .panel, .vbmenu_option, .tcat, .vbmenu_control, td.tfoot, .tfoot a, .tfoot div strong a, .tfoot[align="right"], .quotemain, .panelsurround .panel div fieldset, tbody[id="collapseobj_module_20"] tr td[class="alt1"] table tbody tr td, .vbmenu_popup{
	border-color: #F2CA1D !important;
	color: #F2CA1D !important;
	background: #444444 !important;
}


.time {
	color:#f2ca1d !important;
}
.thead, .thead a, .thead a:hover, .quotetop {
	background: #505050 !important;
}

.threadstarter, hr, #buddylist li{
        border-color: #F2CA1D !important;
        border-width: 1px !important;
}

.quotetop, .quotemain, .info_bar {
        border-color: #F2CA1D !important;
}

.alt1 hr, .block_name, .block_title, #minicontact_menu .thead {
        color: #F2CA1D !important;
}

.adbody {
        color:#F2CA1D !important;
}

.navbarbg, .navbar, .navbarbg table tbody tr td, .adBelowNavbar, .adbody, .adurl, #siteWrapper table tbody tr td table tbody tr td[align="right"], .adurl table tbody tr td, tbody tr td[class="alt2"] div[style="background-color: #8B8F9E; padding: 2px 2px 2px 5px"] {
       background: #444444 !important; 
}

.adurl a, .adBelowNavbar span, .adBelowNavbar span a{
    text-decoration:underline !important;
	color:#F2CA1D !important;
}
.adurl a:hover, .adBelowNavbar span:hover{
	color:#ffaa00 !important;
	text-decoration:underline;
}

/* Ser ikke ut til å fungere før en refresher siden en ekstra gang, eksludert for nå.
::-webkit-scrollbar {
  	width:auto !important;
}
 
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner, ::-webkit-scrollbar-button, ::-webkit-resizer  {
  	background-color:#505050 !important;
}
 
::-webkit-scrollbar-button{
	display:none !important; 
}
.tborder ::-webkit-scrollbar-thumb {
 	background-color:#F2CA1D !important; 
}
*/

img[src="http://static3.freak.no/forum/images/custom/logo.gif"], img[alt="Norsk Freakforum"],
a#logo, a#logo:hover, img[src="http://static3.freak.no/forum/images/custom/logo-freaken2.png"]
{
	margin-left: 0px;
	width: 0px;
	height: 145px;
	padding-left: 136px;
	background-image:url('http://expdvl.com/files/web/nff/style/oldskewl/nff-logo5.png') !important;
}

img[src="http://static3.freak.no/forum/images/buttons/reply.gif"] {
	width: 0px;
	height: 26px;
	padding-left: 110px;
	background-image:url('http://expdvl.com/files/web/nff/style/oldskewl/svar.png');
}

img[src="http://static3.freak.no/forum/images/buttons/firstnew.gif"],
img[src="http://static3.freak.no/forum/images/misc/menu_open.gif"],
img[src="http://static3.freak.no/forum/images/misc/menu_open_usercss.gif"] {
	width: 0px;
	height: 13px;
	padding-left: 13px;
	background-image:url('http://expdvl.com/files/web/nff/style/oldskewl/ulest.png');
	}
img[src="http://static3.freak.no/forum/images/buttons/quote.gif"] {
	width: 0px;
	height: 22px;
	padding-left: 70px;
	background-image:url('http://expdvl.com/files/web/nff/style/oldskewl/siter.png');
	}
img[src="http://static3.freak.no/forum/images/buttons/multiquote_off.gif"], img[alt="Multi-Quote This Message"] {
	width: 0px;
	height: 22px;
	padding-left: 70px;
	background-image:url('http://expdvl.com/files/web/nff/style/oldskewl/multisiter.png');
	}
img[src="http://static3.freak.no/forum/images/buttons/quickreply.gif"] {
	width: 0px;
	height: 22px;
	padding-left: 70px;
	background-image:url('http://expdvl.com/files/web/nff/style/oldskewl/hurtigsvar.png');
	}
img[src="http://static3.freak.no/forum/images/custom/button_pluss.gif"] {
	width: 0px;
	height: 15px;
	padding-left: 15px;
	background-image:url('http://expdvl.com/files/web/nff/style/oldskewl/kp.png');
	}
img[src="http://static3.freak.no/forum/images/buttons/edit.gif"] {
	width: 0px;
	height: 22px;
	padding-left: 70px;
	background-image:url('http://expdvl.com/files/web/nff/style/oldskewl/rediger.png');
	}
img[src="http://static3.freak.no/forum/images/buttons/collapse_tcat.gif"],
img[src="http://static3.freak.no/forum/images/buttons/collapse_generic.gif"],
img[src="http://static3.freak.no/forum/images/buttons/collapse_thead.gif"]{
	width: 0px;
	height: 14px;
	padding-left: 14px;
	background-image:url('http://expdvl.com/files/web/nff/style/oldskewl/close.png');
	}
img[src="http://static3.freak.no/forum/images/buttons/collapse_tcat_collapsed.gif"],
img[src="http://static3.freak.no/forum/images/buttons/collapse_generic_collapsed.gif"],
img[src="http://static3.freak.no/forum/images/buttons/collapse_thead_collapsed.gif"]{
	width: 0px;
	height: 14px;
	padding-left: 14px;
	background-image:url('http://expdvl.com/files/web/nff/style/oldskewl/open.png');
	}
img[src="http://static3.freak.no/forum/images/buttons/lastpost.gif"] {
	width: 0px;
	height: 13px;
	padding-left: 13px;
	background-image:url('http://expdvl.com/files/web/nff/style/oldskewl/hoyre.png');
	}
img[src="http://static3.freak.no/forum/images/buttons/append.gif"] {
	width: 0px;
	height: 22px;
	padding-left: 70px;
	background-image:url('http://expdvl.com/files/web/nff/style/oldskewl/leggtil.png');
	}
	img[src="http://static3.freak.no/forum/images/buttons/reply_small.gif"] {
	width: 0px;
	height: 22px;
	padding-left: 70px;
	background-image:url('http://expdvl.com/files/web/nff/style/oldskewl/svar-liten.png');
	}
img[src="http://static3.freak.no/forum/images/misc/navbits_start.gif"] {
	width: 0px;
	height: 15px;
	padding-left: 15px;
	background-image:url('http://expdvl.com/files/web/nff/style/oldskewl/mappe.png');
	}
img[src="http://static3.freak.no/forum/images/misc/navbits_finallink_ltr.gif"] {
	width: 0px;
	height: 15px;
	padding-left: 30px;
	background-image:url('http://expdvl.com/files/web/nff/style/oldskewl/mappe2.png');
	}
img[src="http://static3.freak.no/forum/images/buttons/newthread.gif"] {
	width: 0px;
	height: 26px;
	padding-left: 110px;
	background-image:url('http://expdvl.com/files/web/nff/style/oldskewl/nytrad.png');
	}
img[src="http://static3.freak.no/forum/images/misc/multipage.gif"] {
	display:none;
	}
img[src="http://static3.freak.no/forum/images/buttons/viewpost.gif"] {
	width: 0px;
	height: 13px;
	padding-left: 13px;
	background-image:url('http://expdvl.com/files/web/nff/style/oldskewl/hoyre.png');
	}
