body, table, tr, td, tbody, #browserWidth {
	background:#26292e;
	color:#F2CA1D !important;
}
span[style="background-color: #f4f4f4; padding: 3px;"], .bb-spoiler{
    background-color: #26292E !important;
}
div[style="margin: 10px 0; background-color: #FFFF88; padding: 20px;"]{
    color: #26292e !important;
    text-decoration:underline !important;
}

a {
	text-decoration:underline !important;
	color:#F2CA1D !important;
}

a:hover{
	color:#ffaa00 !important;
	text-decoration:underline;
}

.page, .tborder, .collapseobj_module_5, #siteWrapper, .alt1Active, .alt1, .contentWrapper, #navbarWrapper, #headerWrapper {
	color: #F2CA1D !important;
	background: #26292e !important;
}
#headerWrapper{
	margin-bottom: 0px !important;
}
legend {
	color: #F1CA1D !important;
	}

.alt2, .panelsurround, .controlbar td, td.controlbar, .vBulletin_editor, div[style="padding:3px"] td, fieldset, fieldset td, fieldset tr, fieldset table, .imagebutton, .panel, .vbmenu_option, .tcat, .vbmenu_control, td.tfoot, .tfoot a, .tfoot div strong a, .tfoot[align="right"], .quotemain, .panelsurround .panel div fieldset, tbody[id="collapseobj_module_20"] tr td[class="alt1"] table tbody tr td, .vbmenu_popup{
	border-color: #F2CA1D !important;
	color: #F2CA1D !important;
	background: #444444 !important;
}


.time {
	color:#f2ca1d !important;
}
.thead, .thead a, .thead a:hover, .quotetop {
	background: #505050 !important;
}

.threadstarter, hr, #buddylist li{
        border-color: #F2CA1D !important;
        border-width: 1px !important;
}

.quotetop, .quotemain, .info_bar, select, input/*[value="Slett innlegget"]*/ {
        border-color: #F2CA1D !important;
}

.alt1 hr, .block_name, .block_title, #minicontact_menu .thead, select, input/*[value="Slett innlegget"]*/ {
        color: #F2CA1D !important;
}

.adbody {
        color:#F2CA1D !important;
}

.navbarbg, .navbar, .navbarbg table tbody tr td, .adBelowNavbar, .adbody, .adurl, #siteWrapper table tbody tr td table tbody tr td[align="right"], .adurl table tbody tr td, tbody tr td[class="alt2"] div[style="background-color: #8B8F9E; padding: 2px 2px 2px 5px"], select, input/*[value="Slett innlegget"]*/ {
       background: #444444 !important; 
}

.adurl a, .adBelowNavbar span, .adBelowNavbar span a{
    text-decoration:underline !important;
	color:#F2CA1D !important;
}
.adurl a:hover, .adBelowNavbar span:hover{
	color:#ffaa00 !important;
	text-decoration:underline;
}

/* Ser ikke ut til å fungere før en refresher siden en ekstra gang, eksludert for nå.
::-webkit-scrollbar {
  	width:auto !important;
}
 
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner, ::-webkit-scrollbar-button, ::-webkit-resizer  {
  	background-color:#505050 !important;
}
 
::-webkit-scrollbar-button{
	display:none !important; 
}
.tborder ::-webkit-scrollbar-thumb {
 	background-color:#F2CA1D !important; 
}
*/

img[src="http://static3.freak.no/forum/images/custom/logo.gif"], img[alt="Norsk Freakforum"],
a#logo, a#logo:hover, img[src="http://static3.freak.no/forum/images/custom/logo-freaken2.png"]
{
	margin-left: 0px;
	width: 0px;
	height: 145px;
	padding-left: 136px;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/nff-logo5.png') !important;
}

img[src="http://static3.freak.no/forum/images/buttons/reply.gif"] {
	width: 0px;
	height: 26px;
	padding-left: 110px;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/svar.png');
}

img[src="http://static3.freak.no/forum/images/buttons/firstnew.gif"],
img[src="http://static3.freak.no/forum/images/misc/menu_open.gif"],
img[src="http://static3.freak.no/forum/images/misc/menu_open_usercss.gif"],
img[src="http://static3.freak.no/forum/images/buttons/sortasc.gif"] {
	width: 0px;
	height: 13px;
	padding-left: 13px;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/ulest.png');
	}
img[src="http://static3.freak.no/forum/images/buttons/quote.gif"] {
	width: 0px;
	height: 22px;
	padding-left: 70px;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/siter.png');
	}
img[src="http://static3.freak.no/forum/images/buttons/multiquote_off.gif"], img[alt="Multi-Quote This Message"] {
	width: 0px;
	height: 22px;
	padding-left: 70px;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/multisiter.png');
	}
img[src="http://static3.freak.no/forum/images/buttons/quickreply.gif"] {
	width: 0px;
	height: 22px;
	padding-left: 70px;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/hurtigsvar.png');
	}
img[src="http://static3.freak.no/forum/images/buttons/forward.gif"] {
	width: 0px;
	height: 22px;
	padding-left: 70px;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/videresend.png');
	}
img[src="http://static3.freak.no/forum/images/custom/button_pluss.gif"] {
	width: 0px;
	height: 15px;
	padding-left: 15px;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/kp.png');
	}
img[src="http://static3.freak.no/forum/images/buttons/edit.gif"] {
	width: 0px;
	height: 22px;
	padding-left: 70px;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/rediger.png');
	}
img[src="http://static3.freak.no/forum/images/buttons/collapse_tcat.gif"],
img[src="http://static3.freak.no/forum/images/buttons/collapse_generic.gif"],
img[src="http://static3.freak.no/forum/images/buttons/collapse_thead.gif"],
img[src="http://static3.freak.no/forum/images/buttons/collapse_alt.gif"]{
	width: 0px;
	height: 14px;
	padding-left: 14px;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/close.png');
	}
img[src="http://static3.freak.no/forum/images/buttons/collapse_tcat_collapsed.gif"],
img[src="http://static3.freak.no/forum/images/buttons/collapse_generic_collapsed.gif"],
img[src="http://static3.freak.no/forum/images/buttons/collapse_thead_collapsed.gif"],
img[src="http://static3.freak.no/forum/images/buttons/collapse_alt_collapsed.gif"]{
	width: 0px;
	height: 14px;
	padding-left: 14px;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/open.png');
	}
img[src="http://static3.freak.no/forum/images/buttons/lastpost.gif"] {
	width: 0px;
	height: 13px;
	padding-left: 13px;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/hoyre.png');
	}
img[src="http://static3.freak.no/forum/images/buttons/append.gif"] {
	width: 0px;
	height: 22px;
	padding-left: 70px;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/leggtil.png');
	}
	img[src="http://static3.freak.no/forum/images/buttons/reply_small.gif"] {
	width: 0px;
	height: 22px;
	padding-left: 70px;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/svar-liten.png');
	}
img[src="http://static3.freak.no/forum/images/misc/navbits_start.gif"] {
	width: 0px;
	height: 15px;
	padding-left: 15px;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/mappe.png');
	}
img[src="http://static3.freak.no/forum/images/misc/navbits_finallink_ltr.gif"] {
	width: 0px;
	height: 15px;
	padding-left: 30px;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/mappe2.png');
	}
img[src="http://static3.freak.no/forum/images/buttons/newthread.gif"] {
	width: 0px;
	height: 26px;
	padding-left: 110px;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/nytrad.png');
	}
img[src="http://static3.freak.no/forum/images/misc/multipage.gif"] {
	display:none;
	}
img[src="http://static3.freak.no/forum/images/buttons/viewpost.gif"] {
	width: 0px;
	height: 13px;
	padding-left: 13px;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/hoyre.png');
	}
img[src="http://static3.freak.no/forum/images/editor/bold.gif"] {
	width: 0px;
	height: 20px;
	padding-left: 21px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/bold_filled.png');
}
img[src="http://static3.freak.no/forum/images/editor/italic.gif"] {
	width: 0px;
	height: 20px;
	padding-left: 21px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/italic_filled.png');
}
img[src="http://static3.freak.no/forum/images/editor/underline.gif"] {
	width: 0px;
	height: 20px;
	padding-left: 21px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/underline_filled.png');
}
img[src="http://static3.freak.no/forum/images/editor/justifyleft.gif"] {
	width: 0px;
	height: 20px;
	padding-left: 21px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/align_left_filled.png');
}
img[src="http://static3.freak.no/forum/images/editor/justifycenter.gif"] {
	width: 0px;
	height: 20px;
	padding-left: 21px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/align_center_filled.png');
}
img[src="http://static3.freak.no/forum/images/editor/justifyright.gif"] {
	width: 0px;
	height: 20px;
	padding-left: 21px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/align_right_filled.png');
}
img[src="http://static3.freak.no/forum/images/editor/insertorderedlist.gif"] {
	width: 0px;
	height: 20px;
	padding-left: 21px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/numbered_list_filled.png');
}
img[src="http://static3.freak.no/forum/images/editor/insertunorderedlist.gif"] {
	width: 0px;
	height: 20px;
	padding-left: 21px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/list_filled.png');
}
img[src="http://static3.freak.no/forum/images/editor/outdent.gif"] {
	width: 0px;
	height: 20px;
	padding-left: 21px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/outdent_filled.png');
}
img[src="http://static3.freak.no/forum/images/editor/indent.gif"] {
	width: 0px;
	height: 20px;
	padding-left: 21px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/indent_filled.png');
}
img[src="http://static3.freak.no/forum/images/editor/createlink.gif"] {
	width: 0px;
	height: 20px;
	padding-left: 21px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/link_filled.png');
}
img[src="http://static3.freak.no/forum/images/editor/unlink.gif"] {
	width: 0px;
	height: 20px;
	padding-left: 21px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/delete_link_filled.png');
}
img[src="http://static3.freak.no/forum/images/editor/email.gif"] {
	width: 0px;
	height: 20px;
	padding-left: 21px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/email_filled.png');
}
img[src="http://static3.freak.no/forum/images/editor/insertimage.gif"] {
	width: 0px;
	height: 20px;
	padding-left: 21px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/xlarge_icons_filled.png');
}
img[src="http://static3.freak.no/forum/images/editor/quote.gif"] {
	width: 0px;
	height: 20px;
	padding-left: 21px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/quote_filled.png');
}
img[src="http://static3.freak.no/forum/images/editor/code.gif"] {
	width: 0px;
	height: 20px;
	padding-left: 21px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/hashtag_large_filled.png');
}
img[src="http://static3.freak.no/forum/images/editor/html.gif"] {
	width: 0px;
	height: 20px;
	padding-left: 21px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/source_code_filled.png');
}
img[src="http://static3.freak.no/forum/images/editor/php.gif"] {
	width: 0px;
	height: 20px;
	padding-left: 21px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/php.png');
}
img[src="http://static3.freak.no/forum/images/editor/removeformat.gif"] {
	width: 0px;
	height: 20px;
	padding-left: 21px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/delete_sign_filled.png');
}
img[src="http://static3.freak.no/forum/images/editor/color.gif"] {
	width: 0px;
	height: 18px;
	padding-left: 21px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/generic_text_filled.png');
}
img[src="http://static3.freak.no/forum/images/editor/menupop.gif"] {
	width: 0px;
	height: 15px;
	padding-left: 11px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/down4.png');
}
img[src="http://static3.freak.no/forum/images/editor/smilie.gif"] {
	width: 0px;
	height: 20px;
	padding-left: 21px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/happy_filled.png');
}
img[src="http://static3.freak.no/forum/images/editor/attach.gif"],
img[src="http://static3.freak.no/forum/images/misc/paperclip.gif"] {
	width: 0px;
	height: 20px;
	padding-left: 21px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/attach_filled.png');
}
img[src="http://static3.freak.no/forum/images/editor/undo.gif"] {
	width: 0px;
	height: 20px;
	padding-left: 21px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/undo.png');
}
img[src="http://static3.freak.no/forum/images/editor/redo.gif"] {
	width: 0px;
	height: 20px;
	padding-left: 21px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/redo.png');
}
img[src="http://static3.freak.no/forum/images/editor/resize_1.gif"] {
	width: 0px;
	height: 9px;
	padding-left: 12px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/down4.png');
}
img[src="http://static3.freak.no/forum/images/editor/resize_0.gif"] {
	width: 0px;
	height: 9px;
	padding-left: 12px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/up4.png');
}
img[src="http://static3.freak.no/forum/images/misc/usercp_icons/attach.gif"] {
	width: 0px;
	height: 16px;
	padding-left: 16px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/attach_filled.png');
}
img[src="http://static3.freak.no/forum/images/misc/usercp_icons/time.gif"] {
	width: 0px;
	height: 16px;
	padding-left: 16px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/clock_filled.png');
}
img[src="http://static3.freak.no/forum/images/misc/usercp_icons/folder_edit.gif"] {
	width: 0px;
	height: 16px;
	padding-left: 16px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/opened_folder_filled.png');
}
img[src="http://static3.freak.no/forum/images/misc/usercp_icons/newspaper.gif"] {
	width: 0px;
	height: 16px;
	padding-left: 16px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/paper_filled.png');
}
img[src="http://static3.freak.no/forum/images/misc/usercp_icons/user_delete.gif"] {
	width: 0px;
	height: 16px;
	padding-left: 16px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/user_shield_filled.png');
}
img[src="http://static3.freak.no/forum/images/misc/usercp_icons/cog.gif"] {
	width: 0px;
	height: 16px;
	padding-left: 16px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/settings_filled.png');
}
img[src="http://static3.freak.no/forum/images/misc/usercp_icons/lock.gif"] {
	width: 0px;
	height: 16px;
	padding-left: 16px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/lock_filled.png');
}
img[src="http://static3.freak.no/forum/images/misc/usercp_icons/page_red.gif"] {
	width: 0px;
	height: 16px;
	padding-left: 16px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/signature_filled.png');
}
img[src="http://static3.freak.no/forum/images/misc/usercp_icons/picture_edit.gif"] {
	width: 0px;
	height: 16px;
	padding-left: 16px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/login_as_user_filled.png');
}
img[src="http://static3.freak.no/forum/images/misc/usercp_icons/user_add.gif"] {
	width: 0px;
	height: 16px;
	padding-left: 16px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/add_user_filled.png');
}
img[src="http://static3.freak.no/forum/images/misc/usercp_icons/vcard_edit.gif"] {
	width: 0px;
	height: 16px;
	padding-left: 16px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/contact_card_filled.png');
}
img[src="http://static3.freak.no/forum/images/misc/usercp_icons/user_edit.gif"] {
	width: 0px;
	height: 16px;
	padding-left: 16px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/edit_user_filled.png');
}
img[src="http://static3.freak.no/forum/images/misc/usercp_icons/email_open_image.gif"],
img[src="http://static3.freak.no/forum/images/misc/usercp_icons/email_open.gif"],
img[src="http://static3.freak.no/forum/images/statusicon/pm_old.gif"] {
	width: 0px;
	height: 16px;
	padding-left: 16px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/read_message_filled.png');
}
img[src="http://static3.freak.no/forum/images/statusicon/pm_new.gif"] {
	width: 0px;
	height: 16px;
	padding-left: 16px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/message_filled.png');
}
img[src="http://static3.freak.no/forum/images/statusicon/pm_replied.gif"] {
	width: 0px;
	height: 16px;
	padding-left: 16px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/reply_filled.png');
}
img[src="http://static3.freak.no/forum/images/misc/usercp_icons/email_go.gif"],
img[src="http://static3.freak.no/forum/images/misc/usercp_icons/email_add.gif"],
img[src="http://static3.freak.no/forum/images/statusicon/pm_forwarded.gif"] {
	width: 0px;
	height: 16px;
	padding-left: 16px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/forward_message_filled.png');
}
img[src="http://static3.freak.no/forum/images/statusicon/post_old.gif"] {
	width: 0px;
	height: 10px;
	padding-left: 11px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/paper_filled.png');
}
img[src="http://static3.freak.no/forum/images/misc/im_icq.gif"] {
	width: 0px;
	height: 25px;
	padding-left: 25px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/ICQ_copyrighted_filled.png');
}
img[src="http://static3.freak.no/forum/images/misc/im_msn.gif"] {
	width: 0px;
	height: 25px;
	padding-left: 25px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/group.png');
}
img[src="http://static3.freak.no/forum/images/misc/im_skype.gif"] {
	width: 0px;
	height: 25px;
	padding-left: 25px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/skype_copyrighted_filled.png');
}
img[src="http://static3.freak.no/forum/images/misc/im_aim.gif"] {
	width: 0px;
	height: 25px;
	padding-left: 25px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/running_filled.png');
}
img[src="http://static3.freak.no/forum/images/misc/im_yahoo.gif"] {
	width: 0px;
	height: 25px;
	padding-left: 25px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/Y.png');
}
img[src="http://static3.freak.no/forum/images/statusicon/thread_new.gif"] {
	width: 0px;
	height: 20px;
	padding-left: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/read_message_filled.png');
}
img[src="http://static3.freak.no/forum/images/statusicon/thread.gif"] {
	width: 0px;
	height: 20px;
	padding-left: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/message_filled.png');
}
img[src="http://static3.freak.no/forum/images/statusicon/thread_lock.gif"] {
	width: 0px;
	height: 20px;
	padding-left: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/lock_filled.png');
}
img[src="http://static3.freak.no/forum/images/statusicon/thread_dot.gif"] {
	width: 0px;
	height: 20px;
	padding-left: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/reply_filled.png');
}
img[src="http://static3.freak.no/forum/images/statusicon/thread_dot_new.gif"] {
	width: 0px;
	height: 20px;
	padding-left: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/feedback.png');
}
img[src="http://static3.freak.no/forum/images/statusicon/thread_hot_new.gif"] {
	width: 0px;
	height: 20px;
	padding-left: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/read_message_filled_dark.png');
}
img[src="http://static3.freak.no/forum/images/statusicon/thread_hot.gif"] {
	width: 0px;
	height: 20px;
	padding-left: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/message_filled_dark.png');
}
img[src="http://static3.freak.no/forum/images/statusicon/thread_hot_lock.gif"] {
	width: 0px;
	height: 20px;
	padding-left: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/lock_filled_dark.png');
}
img[src="http://static3.freak.no/forum/images/statusicon/thread_dot_hot.gif"] {
	width: 0px;
	height: 20px;
	padding-left: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/reply_filled_dark.png');
}
img[src="http://static3.freak.no/forum/images/statusicon/thread_dot_hot_new.gif"] {
	width: 0px;
	height: 20px;
	padding-left: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/feedback_dark.png');
}
img[src="http://static3.freak.no/forum/images/misc/sticky.gif"] {
	width: 0px;
	height: 12px;
	padding-left: 12px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/pin_filled.png');
}
img[src="http://static3.freak.no/forum/images/statusicon/forum_new.gif"] {
	width: 0px;
	height: 30px;
	padding-left: 29px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/inspection_filled.png');
}
img[src="http://static3.freak.no/forum/images/statusicon/forum_old.gif"],
img[src="http://static3.freak.no/forum/images/statusicon/forum_link.gif"] {
	width: 0px;
	height: 30px;
	padding-left: 29px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/inspection_filled_dark.png');
}
img[src="http://static3.freak.no/forum/images/statusicon/subforum_new.gif"] {
	width: 0px;
	height: 11px;
	padding-left: 11px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/read_message_filled.png');
}
img[src="http://static3.freak.no/forum/images/statusicon/subforum_old.gif"] {
	width: 0px;
	height: 11px;
	padding-left: 11px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/message_filled.png');
}
img[src="http://static3.freak.no/forum/images/misc/whos_online.gif"] {
	width: 0px;
	height: 30px;
	padding-left: 30px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/conference_call_filled.png');
}
img[src="http://static3.freak.no/forum/images/misc/stats.gif"] {
	width: 0px;
	height: 30px;
	padding-left: 30px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/combo_chart_filled.png');
}
img[src="http://static3.freak.no/forum/images/attach/zip.gif"] {
	width: 0px;
	height: 16px;
	padding-left: 15px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/archive_filled.png');
}
img[src="http://static3.freak.no/forum/images/attach/rar.gif"] {
	width: 0px;
	height: 16px;
	padding-left: 15px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/winrar_filled.png');
}
img[src="http://static3.freak.no/forum/images/attach/doc.gif"] {
	width: 0px;
	height: 16px;
	padding-left: 15px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/ms_word_copyrighted_filled.png');
}
img[src="http://static3.freak.no/forum/images/attach/txt.gif"] {
	width: 0px;
	height: 16px;
	padding-left: 15px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/TXT_filled.png');
}
img[src="http://static3.freak.no/forum/images/attach/pdf.gif"] {
	width: 0px;
	height: 16px;
	padding-left: 15px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/PDF-2_filled.png');
}
img[src="http://static3.freak.no/forum/images/attach/psd.gif"] {
	width: 0px;
	height: 16px;
	padding-left: 15px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/PSD_filled.png');
}
img[src="http://static3.freak.no/forum/images/attach/bmp.gif"],
img[src="http://static3.freak.no/forum/images/attach/gif.gif"],
img[src="http://static3.freak.no/forum/images/attach/jpe.gif"],
img[src="http://static3.freak.no/forum/images/attach/jpeg.gif"],
img[src="http://static3.freak.no/forum/images/attach/jpg.gif"],
img[src="http://static3.freak.no/forum/images/attach/png.gif"] {
	width: 0px;
	height: 16px;
	padding-left: 15px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/image_file_filled.png');
}